html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    margin: 10% 0 15%;
    font-size: 7rem;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 5% 10% 7%;
}

/* Sections */

.colored-section {
    background-color: #0077b6;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand, .navbar-toggler-icon {
    font-size: 3.5rem;
}

.nav-item {
    margin: 7% 0 0 0;
}

.nav-link {
    font-size: 3rem;
    font-weight: 400;
}


/* Download buttons */

.btn {
    font-size: 2rem;
    padding: 3% 5%;
}

.fa-dumbbell {
    margin-left: 2%;
}

/* Title Section */

#title {
    text-align: left;
}

img, .btn {
    border-radius: 3rem;
}

.title-image {
    width: 100%;
    margin: 15% 0 10%;
}

/* Features Section */

#about {
    margin: 10% 0;
}

.feature-title {
    font-size: 4rem;
    margin: 7% 0;
}

.feature-box p {
    font-size: 2.5rem;
    margin-bottom: 15%;
}

.icon {
    color: #00b140;
    margin: 5% 0 2%;
    font-size: 10rem;

}

.icon:hover {
    color: #0077b6;
}

/* Testimonial Section */

#testimonials {
    background-color: #ff6f61;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Footer Section */

#footer {
    padding: 5% 0;
}

.copyright {
    font-size: 2rem;
}